html {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 0;
  color: var(--Dark-Blue);
}

.light {
  color: var(--Grayish-Blue);
}

.info {
  font-weight: 700;
  font-size: 20px;
}

.main {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-text {
  position: absolute;
  max-width: 650px;
  left: 90px;
  top: 230px;
  margin-right: 420px;
  z-index: 1;
  animation-duration: 2s;
}

.main-text2 {
  display: none;
  position: absolute;
  max-width: 650px;
  left: 90px;
  top: 230px;
  margin-right: 420px;
  z-index: 1;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text img {
  position: absolute;
  top: 200px;
  left: 350px;
}

.images {
  position: relative;
}

.images .img2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation-duration: 1.7s;
}

@keyframes rotate {
  0% {
  }
  100% {
    transform: rotateY(360deg);
  }
}

.images .img3 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation-duration: 1.7s;
}

.images .buttons {
  position: absolute;
  bottom: 46px;
  left: 190px;
  padding: 4px 25px;
  padding-top: 2px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #999;
  display: inline-block;
}

.buttons img {
  padding: 0px 5px;
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr;
  }
  .images .img {
    max-width: 80%;
    margin: auto;
  }
  .images .img2 {
    max-width: 60%;
    margin: auto;
  }
  .images .img3 {
    max-width: 60%;
    margin: auto;
  }
  .images {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
  }
  .images .buttons {
    display: inline-block;
    left: 30%;
    bottom: 6%;
  }
  .text {
    grid-row: 2/3;
    align-items: start;
  }

  .main-text {
    position: relative;
    top: -30px;
    max-width: 900px;
    margin-right: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }
  .main-text2 {
    position: relative;
    top: -30px;
    max-width: 900px;
    margin-right: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }
  .text img {
    position: relative;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
  }
}

@media (max-width: 560px) {
  body {
    font-size: 18px;
  }
  .buttons {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 15px;
  }
  .buttons {
    padding: 1px 5px;
    font-size: 25px;
  }
}
