html {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.second {
  padding: 40px 50px;
  position: relative;
}

.first {
  padding: 170px 20px;
  padding-left: 140px;
  padding-bottom: 0px;
  grid-row: 1/2;
}

.second .img2 {
  max-width: 520px;
  position: absolute;
  top: 90px;
  left: 110px;
}

.second .img3 {
  max-width: 0px;
  position: absolute;
  top: 90px;
  left: 110px;
  transition-duration: 2s;
  transition-property: max-width, display;
  display: none;
}

@keyframes out {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 520px;
  }
}

.second .img1 {
  z-index: -2;
  max-width: 650px;
}

.first .img1 {
  position: absolute;
  left: 270px;
  top: 200px;
}

.first .content {
  margin-bottom: 10px;
  position: absolute;
  max-width: 650px;
  z-index: 1;
  margin-top: 50px;
  margin-right: 550px;
}

.first .content2 {
  margin-bottom: 10px;
  position: absolute;
  max-width: 650px;
  z-index: 1;
  margin-top: 50px;
  margin-right: 550px;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content2 p {
  color: var(--Dark-Blue);
  font-weight: 200;
}

.content p {
  color: var(--Dark-Blue);
  font-weight: 200;
}

.first h5 {
  color: var(--Dark-Blue);
  font-weight: 700;
  z-index: 1;
}

.first h5 span {
  color: var(--Grayish-Blue);
  font-weight: 500;
}

.buttons {
  position: absolute;
  top: 585px;
  left: 200px;
  padding: 0px 20px;
  padding-bottom: 5px;
  border: 0px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px 3px 5px hsl(240, 9%, 87%);
}

.buttons .btn-prev {
  padding: 0px 15px;
}

.buttons .btn-next {
  padding: 0px 15px;
}

.img-floor {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 1140px) {
  .main {
    display: block;
    padding: 40px;
  }

  .second {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
  }

  .second .img2 {
    max-width: 50%;
    height: 70%;
    left: 50%;
    transform: translateX(-50%);
  }

  .second .img3 {
    max-width: 50%;
    height: 70%;
    left: 50%;
    transform: translateX(-50%);
  }

  .second .img1 {
    width: 70%;
  }

  .buttons {
    left: 40%;
    top: 90%;
  }

  .first {
    grid-row: 2/3;
    padding: 20px;
    position: relative;
  }

  .first .content {
    position: relative;
    margin: 0px;
    text-align: center;
    max-width: 20em;
    margin: auto;
    /*		display: none;*/
  }

  .first .content2 {
    position: relative;
    margin: 0px;
    text-align: center;
    max-width: 20em;
    margin: auto;
    /*		display: block;*/
  }

  .first .img1 {
    left: 20%;
    top: 5%;
  }
}
@media (max-width: 1000px) {
  .main {
    font-size: 1.08em;
  }
}
